.container {
    width: 80%;
    text-align: center;
    margin: 32px auto;
}

.heading {
    font-size: 40px;
    font-weight: 300;
}

.button {
    color: #fff;
    background-color: #28a745;
    padding: 12px 24px;
    font-size: 24px;
    border: 2px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    max-width: fit-content;
    margin-top: 32px;
}